body {
font-family: Arial, sans-serif;
background: rgb(103, 200, 232);
}

h1 {
text-align: center;
margin-bottom: 20px;
}

.grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 20px;
padding: 20px;
}

.card {
border: 1px solid #ddd;
padding: 15px;
border-radius: 12px;
background: white;
cursor: pointer;
transition: 0.2s;
text-align: center;
}

.card img {
width: 100%;
height: 200px;
object-fit: contain;
}

.modal {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: white;
padding: 30px;
border-radius: 12px;
width: 400px;
box-shadow: 0 0 20px rgba(0,0,0,0.3);
text-align:center;
}

.hidden {
display: none;
}

.topnav {
  overflow: hidden;
  text-align: center ;
}

.topnav input[type=text] {
  padding: 6px;
  border: solid 1px;
  font-size: 17px;
}