body { 
font-family: Arial, sans-serif; 
text-align: center; 
background-color: lightblue; 
padding: 40px; 
} 
#result { 
margin-top: 30px; 
padding: 30px; 
background: black; 
border-radius: 20px; 
display: inline-block; 
box-shadow: 0 4px 10px  rgba(0,0,0,0.1); 
}